
<h1>Our openings</h1>
<div>
<% @opening.each do |open| %>

<div class="add"><p><center><%= open.title %></p>
<p><%= link_to "View more", opening_path(open.id) %></p>
</div>
<% end %>
</div>
</br />

