<script
src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
$("p").click(function(){
$("div").slideDown("slow");
});
});
</script>
<style>
.dis
{
  padding:50px;
 display:none;
}
</style>
<h1>Our openings</h1>

<% @opening.each do |open| %>
<p><%= open.title %></p>
<div class="dis"><%= open.description %></div>
<% end %>
<center><button><%= link_to "I agreed proceed" , new_seeker_path %></button></center>
