<style>
fieldset
{
    width:300px;
    float:left;
    border-style:groove;
    color:green;
}
legend
{
    color:green;
}
</style>
<h3>Current Created opening</h3>
<fieldset>
<legend>Title</legend>
 
  <%= @opening.title %>
</fieldset>
 
<fieldset>
<legend>Type</legend>
  <%= @opening.jtype %>
</fieldset>

<fieldset>
  <legend>Description:</legend>
  <%= @opening.description %>
</fieldset>
<br />


