<h3>Current Created opening</h3>
<p>
  <strong>Title:</strong>
  <%= @opening.title %>
</p>
 
<p>
  <strong>Type:</strong>
  <%= @opening.jtype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opening.description %>
</p>
<br />


