<center>
    <div>
        <h2 class="heading">Welcome to Grep Ruby Recruitments</h2>
    </div>
</center>
<div class="heading">
    <%= image_tag "recruitment.jpg" %>
</div>
<div class="d heading">
    <h2><%= link_to "Continue", seekers_path %></h2>
</div>

