@charset "utf-8";
/* CSS Document */

.space {
	margin-top:20px !important;
}

header{
	background-color:#3B5998;
	width:100%;
}
.logo img{
	width:100%;
	margin:8px 0;
}
.header_login{
	margin-top:35px;
}
.image_section{
	border:#3B5998 solid 5px;
	min-height:532px;
}
.ad-space{
	border:#3B5998 solid 2px;
	min-height:170px;
	margin-bottom:10px;
	padding-top:40px;
}
.user-comment-box{
	border:#3B5998 solid 2px;
	padding:10px 10px 0px 10px;
}
.user-comment-box h4{
	margin-left:10px;
}
.user-comment-box textarea{
	width:95%;
	min-height:320px;
	margin:0 auto;
	display:block;
	border:#ddd solid 1px;
}
.signin_bttn{
	min-height:100px;
	font-size:15px;
	white-space:normal;
	padding:5px 12px;
}
.signin_bttn strong{
	font-size:17px;
}

footer {
	background-color:#3B5998;
	width:100%;
	min-height:40px;
	margin-top:20px;
}

@media (max-width: 1200px) { 
	.header_login{
		float:none !important;
	}
	.header_login .col-lg-6, .user-comment-box .col-lg-3{
		float:left !important;
		
	}
}
	





/* ======================================================  */	

.widget-box {
    border-bottom: 1px solid #CCCCCC;
    box-shadow: none;
    margin: 3px auto;
	width:97%;
    padding: 0;
}
.widget-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #FFFFFF 0px, #EEEEEE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #669FC7;
    min-height: 38px;
    padding-left: 12px;
    position: relative;
    text-align: right;
}
.widget-header > h1, .widget-header > h2, .widget-header > h3, .widget-header > h4, .widget-header > h5, .widget-header > h6 {
    float: left;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
}
h4.smaller {
    font-size: 17px;
}
.lighter {
    font-weight: lighter;
}

.widget-body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.widget-main.no-padding {
    padding: 0;
}
.widget-main {
    padding: 12px;
}
.dialogs {
    padding: 9px 9px 0;
    position: relative;
}
.itemdiv.dialogdiv:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E1E6ED;
    border-color: #D7DBDD;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 19px;
    max-width: 1px;
    position: absolute;
    top: 0;
    width: 1px;
}
.itemdiv.dialogdiv {
    padding-bottom: 14px;
}
.itemdiv {
    min-height: 64px;
    padding-right: 3px;
    position: relative;
}

.itemdiv > .user {
    display: inline-block;
    left: 0;
    position: absolute;
    width: 42px;
}
.itemdiv.dialogdiv > .user > img {
    border-color: #C9D6E5;
}
.itemdiv > .user > img {
    border: 2px solid #5293C4;
    border-radius: 120px 120px 120px 120px;
    max-width: 36px;
    position: relative;
}

.itemdiv.dialogdiv > .body:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDE4ED;
    border-image: none;
    border-style: solid;
    border-width: 2px 0 0 2px;
    content: "";
    display: block;
    height: 8px;
    left: -7px;
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
    width: 8px;
}
.itemdiv.dialogdiv > .body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDE4ED;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    margin-right: 1px;
    padding: 3px 7px 7px;
}
.itemdiv > .body {
    margin-left: 50px;
    margin-right: 12px;
    padding-left: 0;
    position: relative;
    width: auto;
}

.itemdiv.dialogdiv > .body > .time {
    float: right;
    position: static;
}
.itemdiv > .body > .time {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 9px;
    top: 0;
}
.green {
    color: #69AA46 !important;
}

.itemdiv > .body > .name {
    color: #999999;
    display: block;
}

.itemdiv.dialogdiv > .body > .text:after {
    display: none;
}
.itemdiv > .body > .text:after {
    border-top: 1px solid #E4ECF3;
    content: "";
    display: block;
    font-size: 0;
    height: 1px;
    left: 16px;
    margin-top: 9px;
    overflow: hidden;
    position: absolute;
    right: -12px;
}
.itemdiv.dialogdiv > .body > .text {
    padding-bottom: 0;
    padding-left: 0;
}
.itemdiv > .body > .text {
    display: block;
    font-size: 13px;
    margin-top: 2px;
    padding-bottom: 19px;
    padding-left: 7px;
    position: relative;
}

.itemdiv > .body > .tools {
    bottom: 4px;
}
.itemdiv > .tools, .itemdiv > .body > .tools {
    bottom: 16px;
    display: none;
    position: absolute;
    right: 4px;
    width: 20px;
}

.widget-main.no-padding > form > .form-actions {
    margin: 0;
    padding: 10px 12px 12px;
}
.widget-main > form .input-append, .widget-main > form .input-prepend {
    margin-bottom: 0;
}
.form-actions {
    display: block;
}
.input-append, .input-prepend {
    display: inline-block;
    font-size: 0;
    margin-bottom: 10px;
    vertical-align: middle;
    white-space: nowrap;
}
.form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
}






/* ====================================================== */


/*  New page css start   */

.timeline_content .row{
	margin-left:0;
}
.timeline_image_section {
	border:#3B5998 solid 5px;
	min-height:350px;
}
.timeline-comment-box{
	padding:10px 0px 0 0px;
}
.timeline-comment-box textarea{
	width:100%;
	min-height:80px;
	margin:0 auto;
	display:block;
	border:#ddd solid 1px;
}